@media only screen and (min-width: 60em){
nav ul {
  flex-direction: row;
}
nav ul li {
  display: inline-block;
  flex: 1 1 auto;
  justify-content: center;
  margin: 0 auto;
}
nav li a {
  padding: 14px 16px;
}
.Menu {
  display: none;
}
.navigation li {
  display: inline-flex;
}
ul {
  margin-top: 15px;
}
header {
  margin-bottom: -18px;
}
#class {
  max-width: 35%;
  float: right;
}
.fiveday {
  display: table;
  margin: 0 auto;
}
table {
  border-collapse: collapse;
  border: solid #302e2e 2px;
}
table, th, td {
  text-align: center;
  vertical-align: middle;
}
.gallerygrid {
  grid-template-columns: repeat(3, 1fr);
}
.gallerygrid figure:hover {
  box-shadow: 0 0 20px #302e2e;
}

}