@media only screen and (min-width: 60em){

nav ul li {
  display: inline-flex;       
  justify-content: center;
  margin: 0 auto;
}
nav li a {
  padding: 14px 16px;
}
/*nav li:first-child {
  display: none;
}*/
nav ul.hide {
  display: block;
}
nav button {
  display: none;
}
ul {
  margin-top: 15px;
}
header {
  margin-bottom: -18px;
}
#hero {
  max-width: 100%;
}
.weathersummary {
  top: 300px;
  left: 180px;
}
#class {
  max-width: 35%;
  float: right;
}
.fiveday {
  display: table;
  margin: 0 auto;
}
table {
  border-collapse: collapse;
}
table, th, td {
  border: solid #302e2e 2px;
  text-align: center;
  vertical-align: middle;
}
.gallery {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
#lightning {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
#rainbow {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
#snowy {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
#sunset {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
#stormy {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
#tornado {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

}