@import url('https://fonts.googleapis.com/css?family=Lato|Special+Elite');

body {
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  color: #302e2e;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Special Elite", monospace;
}
nav{
  list-style-type: none;
  background: #302e2e;
}
nav a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #afcbff;
  padding: 10px;
}
nav a:visited {
  color: #F0EBCE;
}
nav a:hover {
  color: #302e2e;
  background: #F0EBCE;
}
nav ul {
  display: flex;
  flex-direction:column;
  list-style-type: none;
}
ul {
  margin-top: 0px;
  padding-left: 0px;
}
nav ul.hide{
  display: none;
}
nav button {
  background: #302e2e;
  margin: .2rem 2%;
  border: none;
  font-size: 1.6rem;
  color: #B2E4DB;
  justify-content: center;
}
#menu {
  justify-content: center;
}
main {
  max-width: 960px;
  margin: 0 auto;
  align-content: center;
}
header {
  background: #B2E4DB;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.active {
  background-color: rgba(190, 188, 188, 0.2);
  color: #f0f0f0;
}
#hero {
  width: 100%;
  display: block;
  margin: auto;
}
.mainhero {
  position: relative;
}
footer {
  background: #B2E4DB;
  padding: 15px;
  text-align: center;
  max-width: 960px;
  align-content: center;
  margin: auto;
}

.weathersummary {
  position: absolute;
  top: 5px;
  left: 10px;
  background: #302e2e;
  color: #f0f0f0;
  padding: 15px;
  text-align: center;
  opacity: .8;
}
.label {
  text-align: left;
  /*font-size: .8rem;
  line-height: 80%;*/
}
.townname {
  text-align: center;
}
.fiveday {
  align-content: center;
  display: none;
  padding:10px;
}
.fiveday h3 {
  text-align: center;
}
.forcastimg {
  max-width: 50px;
}
#class {
  max-width: 100%;
}
article {
  background: #B2E4DB;
  padding: 10px;
  overflow: auto;
}
.contact {
  background: #f0f0f0;
  padding: 10px;
}
.gallerygrid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}
.gallerygrid figure img {
  width: 100%;
}